name: Static Code Analysis

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Scan project with Qodana
        uses: JetBrains/qodana-action@v2025.2.2
